<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="next-head">Medarbejder Side | Bilabonnement</title>
    <meta name="description"
          content="Bilabonnement.dk tilbyder bl.a. Peugeot, Citroën, Opel og Fiat på abonnement med alt inklusiv: Service, forsikring og ejerafgift."
          class="next-head"/>
    <link rel="icon"
          href="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/v1578666243/favicon_1_npgufd.ico"
          class="next-head"/>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Bootstrap styles-->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/form-validation.css" rel="stylesheet">
    <link href="/css/employee.css" rel="stylesheet">
    <link href="/css/buttons.css" rel="stylesheet">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>

<header class="navbar sticky-top flex-md-nowrap p-0 shadow navbar-header-height">
    <a class="navbar-nav col-md-3 col-lg-2 me-0 px-3 fs-6" href="https://bilabonnement.dk/"><img
            src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_0922_ltj2wu.svg"
            alt=""></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <!--Sign-out-->
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/signoutUser"><span data-feather="log-out"></span> Log ud</a>
        </div>
    </div>
</header>

<!--Sidebar-->
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard"
                           th:if="${session.userType=='BUSINESS'||session.userType=='ADMIN'}">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            DASHBOARD
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.userType=='DATA_REG'||session.userType=='ADMIN'}">
                        <a id="customers-link" class="nav-link" href="/customer-form">
                            <span data-feather="users" class="align-text-bottom"></span>
                            KUNDER
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.userType=='DATA_REG'||session.userType=='ADMIN'}">
                        <a id="cars-link" class="nav-link" href="/car-form">
                            <span data-feather="truck" class="align-text-bottom"></span>
                            BILER
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.userType=='DATA_REG'||session.userType=='ADMIN'}">
                        <a id="leases-link" class="nav-link active" aria-current="page" href="#lease-form">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            LEJEAFTALER
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.userType=='DAMAGE_REG'||session.userType=='ADMIN'}">
                        <a id="reports-link" class="nav-link" href="/damage-form">
                            <span data-feather="file" class="align-text-bottom"></span>
                            SKADESRAPPORTER
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

            <!--Alert-->
            <div class="alert alert-primary" role="alert" th:if="${message!=null}">
                <p th:text="${message}"></p>
            </div>

            <!--Forms-->
            <div id="lease-form" th:if="${session.userType=='BUSINESS'||session.userType=='ADMIN'}">
                <!--Tabs-->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab-lease-forms" role="tablist">
                        <button class="nav-link active" id="nav-lease-create-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-lease-create" type="button" role="tab"
                                aria-controls="nav-lease-create"
                                aria-selected="true">
                            <strong>Indtast Kontraktindhold</strong>
                        </button>
                        <button class="nav-link" id="nav-lease-update-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-lease-update" type="button" role="tab"
                                aria-controls="nav-lease-update"
                                aria-selected="false">
                            <strong>Annuler Kontraktindhold</strong>
                        </button>
                    </div>
                </nav>
                <!--Tab Content-->
                <div class="tab-content" id="nav-tabContent-lease-create">
                    <div class="tab-pane fade show active p-3" id="nav-lease-create" role="tabpanel"
                         aria-labelledby="nav-lease-create-tab">

                        <!--Accordion-->
                        <div class="accordion" id="accordionCreateLease">
                            <div class="accordion-item ">
                                <h2 class="accordion-header" id="headingOne">
                                    <button id="form_create_lease" class="accordion-button" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne">
                                        <strong>Lejeaftale</strong>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne"
                                     data-bs-parent="#accordionCreateLease">
                                    <div class="accordion-body">
                                        <!--Create lease form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Kontraktindhold</h4>
                                            <form method="post" action="/lease-form-create" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <label for="choose-customer" class="form-label">Kunde <span
                                                                class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idCustomer"
                                                                id="choose-customer" required>
                                                            <option disabled selected value>Vælg kunde...</option>
                                                            <option th:each="customer: ${customers}"
                                                                    th:value="${customer.idCustomer}"
                                                                    th:text="${customer.firstName+' '+customer.lastName+'; DLN: '+customer.licenceNo}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid customer.
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="choose-car" class="form-label">Bil <span
                                                                class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idCarVIN"
                                                                id="choose-car" required>
                                                            <option disabled selected value>Vælg bil...</option>
                                                            <option th:each="car: ${cars}"
                                                                    th:value="${car.idCarVIN}"
                                                                    th:text="${'VIN: '+car.idCarVIN+'; RegNo: '+car.regNo+'; Available: '+car.available}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid car.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="choose-subscriptionType" class="form-label">Abonnementstype
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="subscriptionType"
                                                                id="choose-subscriptionType" required>
                                                            <option disabled selected value>Vælg abonnementstype...
                                                            </option>
                                                            <option value="LIMITED">LIMITED</option>
                                                            <option value="UNLIMITED">UNLIMITED</option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid type of subscription.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="durationMonths" class="form-label">Antal måneder
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <input name="durationMonths" type="number" class="form-control"
                                                               id="durationMonths"
                                                               placeholder="eg. 5"
                                                               value="" maxlength="10" required>
                                                        <div class="invalid-feedback">
                                                            Valid number of months is required.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="dateOfRent" class="form-label">Udlejningsdato <span
                                                                class="text-muted">(Required)</span></label>
                                                        <input name="dateOfRent" type="date" class="form-control"
                                                               id="dateOfRent"
                                                               placeholder="eg. 11/12/2022" max="9999-12-31" step="1" required>
                                                        <div class="invalid-feedback">
                                                            Valid date is required.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="dateOfReturn" class="form-label">Tilbageleveringsdato
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <input name="dateOfReturn" type="date" class="form-control"
                                                               id="dateOfReturn"
                                                               placeholder="eg. 12/12/2022" max="9999-12-31" step="1" required>
                                                        <div class="invalid-feedback">
                                                            Valid date is required.
                                                        </div>
                                                    </div>
                                                    <hr class="my-4">
                                                    <br>
                                                    <div>
                                                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                            Gem
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button id="form_choose_kp" class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        <strong>Afhentning</strong>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionCreateLease">
                                    <div class="accordion-body">
                                        <!--Choose pickup location form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Valg af afhentningssted</h4>
                                            <form method="post" action="/lease-form-pl" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <label for="choose-lease-pl" class="form-label">Lejeaftale <span
                                                                class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idLease"
                                                                id="choose-lease-pl" required>
                                                            <option disabled selected value>Vælg lejeaftale...</option>
                                                            <option th:each="lease: ${leases}"
                                                                    th:value="${lease.idLease}"
                                                                    th:text="${'Lease ID: '+lease.idLease+'; Car VIN: '+lease.idCarVIN+'; Customer ID: '+lease.idCustomer}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid lease.
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="idPickupLocationRef" class="form-label">Lokation
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idPickupLocationRef"
                                                                id="idPickupLocationRef" required>
                                                            <option disabled selected value>Vælg lokation...</option>
                                                            <option th:each="pickupLocationRef: ${pickupLocationRefs}"
                                                                    th:value="${pickupLocationRef.idPickupLocationRef}"
                                                                    th:text="${'Lokation: '+pickupLocationRef.title}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid pickup location.
                                                        </div>
                                                    </div>
                                                    <hr class="my-4">
                                                    <br>
                                                    <div>
                                                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                            Gem
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button id="form_choose_pl" class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        <strong>Kilometerplan (Tilkøb)</strong>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree"
                                     data-bs-parent="#accordionCreateLease">
                                    <div class="accordion-body">
                                        <!--Choose kilometrage plan form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Valg af kilometertilkøb</h4>
                                            <form method="post" action="/lease-form-kp" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <label for="choose-lease-kp" class="form-label">Lejeaftale <span
                                                                class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idLease"
                                                                id="choose-lease-kp" required>
                                                            <option disabled selected value>Vælg lejeaftale...</option>
                                                            <option th:each="lease: ${leases}"
                                                                    th:value="${lease.idLease}"
                                                                    th:text="${'Car VIN:'+lease.idCarVIN+'; Customer ID: '+lease.idCustomer}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid lease.
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <label for="idKilometragePlanRef" class="form-label">Kilometerpakke
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idKilometragePlanRef"
                                                                id="idKilometragePlanRef" required>
                                                            <option disabled selected value>Vælg kilometerpakke...
                                                            </option>
                                                            <option value="0">Intet tilkøb (max 1000 km per måned)
                                                            </option>
                                                            <option th:each="kilometragePlanRef: ${kilometragePlanRefs}"
                                                                    th:value="${kilometragePlanRef.idKilometragePlanRef}"
                                                                    th:text="${'Plan: +'+kilometragePlanRef.kilometrage+' km'}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid kilometrage plan.
                                                        </div>
                                                    </div>
                                                    <hr class="my-4">
                                                    <br>
                                                    <div>
                                                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                            Gem
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show p-3" id="nav-lease-update" role="tabpanel"
                         aria-labelledby="nav-lease-update-tab">

                        <!--Accordion-->
                        <div class="accordion" id="accordionUpdateLease">
                            <div class="accordion-item ">
                                <h2 class="accordion-header" id="headingOneUpdate">
                                    <button id="form_update_lease" class="accordion-button" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOneUpdate"
                                            aria-expanded="false" aria-controls="collapseOneUpdate">
                                        <strong>Lejeaftale</strong>
                                    </button>
                                </h2>
                                <div id="collapseOneUpdate" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOneUpdate"
                                     data-bs-parent="#accordionUpdateLease">
                                    <div class="accordion-body">
                                        <!--Cancel lease form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Kontraktindhold</h4>
                                            <form method="post" action="/lease-form-delete" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">
                                                    <div class="col-12">
                                                        <label for="choose-lease" class="form-label">Annuler lejeaftale <span
                                                                class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idLease"
                                                                id="choose-lease" required>
                                                            <option disabled selected value>Vælg lejeaftale...</option>
                                                            <option th:each="lease: ${leases}"
                                                                    th:value="${lease.idLease}"
                                                                    th:text="${'Car VIN:'+lease.idCarVIN+'; Customer ID: '+lease.idCustomer}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid lease.
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div>
                                                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                            Gem
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwoUpdate">
                                    <button id="form_update_kp" class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwoUpdate" aria-expanded="false"
                                            aria-controls="collapseTwoUpdate">
                                        <strong>Afhentning</strong>
                                    </button>
                                </h2>
                                <div id="collapseTwoUpdate" class="accordion-collapse collapse"
                                     aria-labelledby="headingTwoUpdate"
                                     data-bs-parent="#accordionUpdateLease">
                                    <div class="accordion-body">
                                        <!--Cancel pickup location form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Valg af afhentningssted</h4>
                                            <form method="post" action="/lease-form-pl-delete" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">
                                                    <div class="row g-3">

                                                        <div class="col-12">
                                                            <label for="idPickupLocationDelete" class="form-label">Annuler lokation <span
                                                                    class="text-muted">(Required)</span></label>
                                                            <select class="form-select" name="idPickupLocation"
                                                                    id="idPickupLocationDelete" required>
                                                                <option disabled selected value>Vælg lejeaftale...
                                                                </option>
                                                                <option th:each="pickupLocation: ${pickupLocations}"
                                                                        th:value="${pickupLocation.idPickupLocation}"
                                                                        th:text="${'Lease ID: '+pickupLocation.idLease}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Please select a valid lease.
                                                            </div>
                                                        </div>

                                                        <hr class="my-4">
                                                        <br>
                                                        <div>
                                                            <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                                Gem
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThreeUpdate">
                                    <button id="form_update_pl" class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThreeUpdate" aria-expanded="false"
                                            aria-controls="collapseThreeUpdate">
                                        <strong>Kilometerplan (Tilkøb)</strong>
                                    </button>
                                </h2>
                                <div id="collapseThreeUpdate" class="accordion-collapse collapse"
                                     aria-labelledby="headingThreeUpdate"
                                     data-bs-parent="#accordionUpdateLease">
                                    <div class="accordion-body">
                                        <!--Cancel kilometrage plan form-->
                                        <div class="col-md-7 col-lg-8">
                                            <h4 class="mb-3">Valg af kilometertilkøb</h4>
                                            <form method="post" action="/lease-form-kp-delete" class="needs-validation"
                                                  novalidate>
                                                <div class="row g-3">

                                                    <div class="col-12">
                                                        <label for="idKilometragePlanDelete" class="form-label">Annuler Kilometerpakke
                                                            <span
                                                                    class="text-muted">(Required)</span></label>
                                                        <select class="form-select" name="idKilometragePlan"
                                                                id="idKilometragePlanDelete" required>
                                                            <option disabled selected value>Vælg lejeaftale...
                                                            </option>
                                                            <option th:each="kilometragePlan: ${kilometragePlans}"
                                                                    th:value="${kilometragePlan.idKilometragePlan}"
                                                                    th:text="${'Lease ID: '+kilometragePlan.idLease}"></option>
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please select a valid lease.
                                                        </div>
                                                    </div>

                                                    <hr class="my-4">
                                                    <br>
                                                    <div>
                                                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                                                            Gem
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="container">
    <footer class="py-3 my-4">
        <p class="text-center text-muted">&copy;Knud W. Bruun anno 1914</p>
    </footer>
</div>

<!--Bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/form-validation.js"></script>
</body>
</html>