<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/admin/loginUser}"  method="POST">
    <label>
        <input name="username" type="text" placeholder="username">
    </label>
    <label>
        <input name="password" type="password" placeholder="password">
    </label>
    <input type="submit" value="Login">
</form>

<div th:if="${message!=null}">
    <p th:text="${message}"></p>
</div>

</body>
</html>